.main_content {
  display: grid;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  padding: 2%;
}

.textbook {
  grid-template-areas: "games games" "pagination-top pagination-top" "words-list groups" "pagination-bottom pagination-bottom";
  grid-template-rows: -webkit-max-content -webkit-max-content 1fr 50px;
  grid-template-rows: max-content max-content 1fr 50px;
  grid-template-columns: 1fr 72px;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
}

.dictionary {
  grid-template-areas: "games games" "pagination-top pagination-top" "filter filter" "words-list groups" "pagination-bottom pagination-bottom";
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content 1fr 50px;
  grid-template-rows: max-content max-content max-content 1fr 50px;
  grid-template-columns: 1fr 72px;
}

.filters {
  grid-area: filter;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  font-size: x-large;
}

.filter__block {
  position: relative;
  border-left: 5px solid grey;
  padding: 1%;
  cursor: pointer;
}

.filter__block_radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.game_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
}

.game_link {
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 5em;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__icon {
  width: 45px;
  height: 45px;
}

.game__title {
  font-size: 1.6em;
  font-family: "Droid", sans-serif;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  width: 100%;
  height: 2.5em;
}

.games {
  grid-area: games;
}

.words-list {
  grid-area: words-list;
  min-height: 50vh;
  position: relative;
}

.groups {
  grid-area: groups;
  position: relative;
}

.pagination-top {
  grid-area: pagination-top;
}

.pagination-bottom {
  grid-area: pagination-bottom;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 2%;
       column-gap: 2%;
}

.game-button {
  width: 100%;
  height: 4em;
}

.pag-item {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: larger;
  text-align: center;
  cursor: pointer;
  transition: 0.2s linear;
}

.pag-item-disabled {
  cursor: auto;
}
.pag-item-disabled svg {
  fill: gray;
}

.groups_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  flex-direction: column;
  row-gap: 2%;
}

.groups_title {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 10%;
}

.groups_list {
  position: -webkit-sticky;
  position: sticky;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3%;
}

.groups_item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: transparent;
  width: 70px;
  height: 70px;
  margin-bottom: 11%;
}

.groups__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 2.7em;
  font-weight: 700;
  color: bisque;
  border-color: transparent;
}

.bg-red {
  background: red !important;
}

.bg-orange {
  background: orange !important;
}

.bg-palevioletred {
  background: palevioletred !important;
}

.bg-slateblue {
  background: slateblue !important;
}

.bg-darkslateblue {
  background: darkslateblue !important;
}

.bg-purple {
  background: purple !important;
}

.border-red {
  border-color: red !important;
}

.border-orange {
  border-color: orange !important;
}

.border-palevioletred {
  border-color: palevioletred !important;
}

.border-slateblue {
  border-color: slateblue !important;
}

.border-darkslateblue {
  border-color: darkslateblue !important;
}

.border-purple {
  border-color: purple !important;
}

.color-purple {
  color: purple !important;
}

.color-red {
  color: red !important;
}

.color-orange {
  color: orange !important;
}

.color-palevioletred {
  color: palevioletred !important;
}

.color-slateblue {
  color: slateblue !important;
}

.color-darkslateblue {
  color: darkslateblue !important;
}

.color-purple {
  color: purple !important;
}

.active-red {
  color: red;
  border-color: red;
}

.active-orange {
  color: orange;
  border-color: orange;
}

.active-palevioletred {
  color: palevioletred;
  border-color: palevioletred;
}

.active-slateblue {
  color: slateblue;
  border-color: slateblue;
}

.active-darkslateblue {
  color: darkslateblue;
  border-color: darkslateblue;
}

.active-purple {
  color: purple;
  border-color: purple;
}

.hover-red:hover {
  box-shadow: 0px 0px 10px red;
}

.hover-purple:hover {
  box-shadow: 0px 0px 10px purple;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.border-top-red {
  border-top: 16px solid red;
}

.border-top-orange {
  border-top: 16px solid orange;
}

.border-top-palevioletred {
  border-top: 16px solid palevioletred;
}

.border-top-slateblue {
  border-top: 16px solid slateblue;
}

.border-top-darkslateblue {
  border-top: 16px solid darkslateblue;
}

.border-top-purple {
  border-top: 16px solid purple;
}

.ds-none {
  display: none;
}

.border-left-color-red {
  border-left-color: red !important;
}

.border-left-color-purple {
  border-left-color: purple !important;
}/*# sourceMappingURL=style.css.map */