.main_content {
  display: grid;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  padding: 2%;
  border-radius: 10px;
  grid-template-areas: "games games" "pagination-top pagination-top" "words-list groups" "pagination-bottom pagination-bottom";
  grid-template-rows: -webkit-max-content -webkit-max-content 1fr 50px;
  grid-template-rows: max-content max-content 1fr 50px;
  grid-template-columns: 1fr 100px;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
}
@media only screen and (max-width: 992px) {
  .main_content {
    grid-template-areas: "games" "pagination-top" "groups" "words-list" "pagination-bottom ";
    grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content 1fr 50px;
    grid-template-rows: max-content max-content max-content 1fr 50px;
    grid-template-columns: 1fr;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
@media only screen and (max-width: 768px) {
  .filter {
    flex-direction: column;
  }
}

.filter__block {
  font-size: 1.6em;
  font-family: "Droid", sans-serif;
  font-style: italic;
  font-weight: 500;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1%;
  text-transform: capitalize;
  font-size: 3em;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .filter__block {
    margin-bottom: 3%;
  }
}

.game_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
@media only screen and (max-width: 768px) {
  .game_bar {
    flex-direction: column;
  }
}

.game_link {
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 5em;
  width: 270px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .game_link {
    margin-bottom: 3%;
  }
}

.game__icon {
  width: 45px;
  height: 45px;
}

.game__title {
  font-size: 1.6em;
  font-family: "Droid", sans-serif;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  width: 100%;
  height: 2.5em;
}

.game-button {
  width: 100%;
  height: 4em;
}

.games {
  grid-area: games;
}

.words-list {
  grid-area: words-list;
  min-height: 50vh;
  position: relative;
}

.groups {
  grid-area: groups;
  position: relative;
}

.pagination-top {
  grid-area: pagination-top;
}

.pagination-bottom {
  grid-area: pagination-bottom;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  justify-content: space-between !important;
}
@media only screen and (max-width: 992px) {
  .pagination ul {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .pagination ul {
    width: 90%;
    justify-content: center;
    -moz-column-gap: 1%;
         column-gap: 1%;
  }
}

.pag-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 3px solid transparent;
  border-radius: 10px;
  font-weight: 500;
  font-size: x-large;
  text-align: center;
  background: #f3f3f3;
  cursor: pointer;
  transition: 0.2s linear;
}
@media only screen and (max-width: 576px) {
  .pag-item {
    width: 90%;
    width: 40px;
    height: 40px;
  }
}

.groups_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  flex-direction: column;
  row-gap: 2%;
}
@media only screen and (max-width: 992px) {
  .groups_container {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }
}

.groups_title {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 10%;
}
@media only screen and (max-width: 992px) {
  .groups_title {
    margin-bottom: 0;
  }
}

.groups_list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  margin-left: 0;
  padding-left: 0;
  flex-direction: column;
  row-gap: 3%;
}
@media only screen and (max-width: 992px) {
  .groups_list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.groups_item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: transparent;
  width: 70px;
  height: 70px;
}

.groups__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 2.7em;
  font-weight: 700;
  color: bisque;
  border-color: transparent;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ds-none {
  display: none !important;
}
