.bg-red {
    background: red !important;
  }
  .bg-orange {
    background: orange !important;
  }
  .bg-palevioletred {
    background: palevioletred !important;
  }
  .bg-slateblue {
    background: slateblue !important;
  }
  .bg-darkslateblue {
    background: darkslateblue !important;
  }
  .bg-purple {
    background: purple !important;
  }
  .bg-hard {
    background: rgba(173, 5, 5, 0.16) !important;
  }
  .bg-easy {
    background: #0080002b !important;
  }
  .bg-delete {
    background: #334e333a !important;
  }
  .bg-disabled {
    background: gray;
  }
  .border-red {
    border-color: red !important;
  }
  .border-orange {
    border-color: orange !important;
  }
  .border-palevioletred {
    border-color: palevioletred !important;
  }
  .border-slateblue {
    border-color: slateblue !important;
  }
  .border-darkslateblue {
    border-color: darkslateblue !important;
  }
  .color-purple {
    color: purple !important;
  }
  .border-left-red {
    border-color: red !important;
  }
  .border-left-orange {
    border-color: orange !important;
  }
  .border-left-palevioletred {
    border-color: palevioletred !important;
  }
  .border-left-slateblue {
    border-color: slateblue !important;
  }
  .border-left-darkslateblue {
    border-color: darkslateblue !important;
  }
  .color-purple {
    color: purple !important;
  }
  .color-red {
    color: red !important;
  }
  .color-orange {
    color: orange !important;
  }
  .color-palevioletred {
    color: palevioletred !important;
  }
  .color-slateblue {
    color: slateblue !important;
  }
  .color-darkslateblue {
    color: darkslateblue !important;
  }
  .color-purple {
    color: purple !important;
  }
  .active-red {
    color: red;
    border-color: red;
  }
  .active-orange {
    color: orange;
    border-color: orange;
  }
  .active-palevioletred {
    color: palevioletred;
    border-color: palevioletred;
  }
  .active-slateblue {
    color: slateblue;
    border-color: slateblue;
  }
  .active-darkslateblue {
    color: darkslateblue;
    border-color: darkslateblue;
  }
  .active-purple {
    color: purple;
    border-color: purple;
  }
  .active-all {
    color: purple;
    border-color: purple;
  }
  .active-hard {
    color: red;
    border-color: red;
  }
  .active-easy {
    color: green;
    border-color: green;
  }

  