img {
  height: auto;
  width: 100%;
}
.list_container {
  display: grid;
  gap: 20px;
  width: 100%;
}
.word-card {
  display: flex;
  position: relative;
  column-gap: 2%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

.word-card_image {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center center;
}

.word-card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
}

.word-card-title {
  display: flex;
  justify-content: space-between;
  border-left: 4px solid black;
  margin-bottom: 1%;
}

.word-group {
  display: flex;
  margin-bottom: 1%;
  column-gap: 3%;
}

.title-word__item {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2em;
  line-height: 28px;
  margin-left: 20px;
  margin-bottom: 3%;
}

.title-word__item_transcription {
  text-transform: none;
  font-size: 1.6em;
  margin-left: 10px;
}

.title-word__item_translate {
  text-transform: none;
  font-size: 1.9em;
}
.word-text {
    display: flex;
    font-size: 2.4rem;
    justify-content: space-between;
    margin-bottom: 1%;
}
.translate {
  font-family: "Droid Serif", serif;
  font-style: italic;
  line-height: 18px;
  color: gray;
}

.word-audio {
  position: absolute;
  cursor: pointer;
  height: 1.5em;
  right: 1em;
}
.word-meaning {
  display: flex;
}
.word-meaning__translate {
  font-size: 2rem;
}
.word_example__translate {
  font-size: 2rem;
}
.card-buttons{
    display: flex;
    column-gap: 3%;
    justify-content: end;
}
.button-card{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: antiquewhite;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: capitalize;
} 
.button-card_large{
    width: 8em;
    height: 3em;
}
.button-card-hard{
    background: rgb(215 32 108);
}
.button-card-easy{
    background: rgb(66, 161, 28);
}
