.plase-burger {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    /* background-color: #F79928; */
    z-index: 2;
}

.hide-plase-burger {
    display: none;
    transition: 2s;
}

.svg-burger-cross {
    margin-top: 10px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    fill: #C4C4C4;
}

.burger-rs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background: #474965;
}

.svg-burger {
    margin-top: 10px;
    width: 34px;
    cursor: pointer;
    fill: #C4C4C4;
}

.scroll-modal{
    width: 240px;
    overflow:visible;
    position: fixed;
    /* transition: 2s; */
}

.scroll-modal-end{
    width: 50px;
    overflow:hidden;
    position: static;
    transition: 2s;
}

.scroll{
    width: 240px;
    overflow:visible;
    /* transition: 3s; */
}

.span-rs {
    margin-top: 15px;
    color: #C4C4C4;
    /* background: #474965; */
    word-wrap: normal;
    width: 120px;
}

.ul-wrapper {
    width: 100%;
    /* height: 1000px; */
    /* display: inline-block; */
}

.li-wrapper{
    display: flex;
}

.li-nav {
    display: flex;
    font-size: 1.7rem;
    align-items: center;
    padding-left: 10px;
    color: #C4C4C4;
    
}

.align-nav {
    justify-content: start;
    padding-left: 40px;
}


.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.dark {
    background-color: rgb(2, 82, 204);
}


@media (max-width: 1140px) {

    .ul-wrapper {
        display: none;
    }

    .naw-wrapper {
        background-color: white;
    }

    .burger-wrapper {
        background-color: white;
    }

    .svg-burger {
        fill: black;
    }

    .nav-text {
        font-size: 1.8rem;
        text-decoration: none;
    }

    .span-rs{
        display: none;
    }
}