.naw-wrapper {
    display: flex;
    flex-direction: column;
    width: 50px;
       background: #474965;
    transition: 1s;
    overflow-x: hidden;
     z-index: 4;
     height: 100vh;
     /* position: fixed; */
}

.plase-burger {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    z-index: 2;
}

.hide-plase-burger {
    display: none;
}

.svg-burger-cross {
    margin-top: 10px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    fill: #C4C4C4;
}

.burger-rs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background: #474965;
}

.svg-burger {
    margin-top: 10px;
    width: 34px;
    cursor: pointer;
    fill: #C4C4C4;
}

.scroll{
    width: 240px;
   }

.span-rs {
    margin-top: 15px;
    color: #C4C4C4;
        word-wrap: normal;
    width: 120px;
}

.li-wrapper{
    display: flex;
}

.li-nav {
    display: flex;
    font-size: 1.7rem;
    align-items: center;
    padding-left: 10px;
    color: #C4C4C4;
}

.style-h22 {
    font-size: 2.4rem;
    text-align: center;
}

.align-nav {
    justify-content: start;
    padding-left: 40px;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.dark {
    background-color: rgb(2, 82, 204);
}

.out{
   /* padding-top: 760px; */
    padding-bottom: 20px;
    white-space: nowrap;
}
@media (max-width: 1140px) {

    .ul-wrapper {
        display: none;
    }

    .naw-wrapper {
        background-color: white;
    }

    .svg-burger {
        fill: black;
    }

    .nav-text {
        font-size: 1.8rem;
        text-decoration: none;
    }
}