html {
    font-size: 10px;
    font-family: 'Roboto', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.body {
    display: flex;
}

.page-content {
    display: grid;
    grid-template-areas: "header""main""footer";
    grid-template-rows: 80px minmax(80vh, max-content) 80px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    min-height: 100vh;
    align-content: space-between;
}

.naw-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #474965;
    transition: 0.8s;
    overflow-x: hidden;
}

.svg-nav {
    width: 28px;
    height: 28px;
    fill: #C4C4C4;
    margin: 10px 0;
}

.main {
    grid-area: main;
    padding: 0 5%;
}

.container-cross-burger {
    display: flex;
    width: 240px;
}

.container-line-burger {
    display: flex;
    align-items: center;
    width: 300px;
    margin-bottom: 3%;
}

.nav-text {
    font-size: 1.8rem;
    text-decoration: none;
    color: #C4C4C4;
}

.a-nav {
    text-decoration: none;
}

.header-wrapper {
    /* grid-area: header; */
    display: flex;
    align-items: center;
    padding: 10px;
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.login {
    display: flex;
    background: none;
    align-items: center;
    border: 1px solid rgb(2, 82, 204);
    border-radius: 5px;
    cursor: pointer;
}

.plase-login {
    width: 30px;
    height: 30px;
}


.svg-man-wrapper {
    display: flex;
    max-width: 350px;
    padding-left: 40px;
    margin: 0;
}

.big-text {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-weight: 600;
    margin-top: 40px;
}

.text {
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.5;

}

.text-center {
    margin-top: 20px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
}

.style-h1 {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.style-h2 {
    font-size: 3.5rem;
    text-align: center;
}

.style-h3 {
    font-size: 2.4rem;
    margin-top: 15px;
}

.indent {
    margin: 0px;
    font-size: 1.4rem;
}

.wrapper-man-and-lang {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-bottom: 30px;
}

.rs-lang-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blond {
    color: rgb(141, 141, 141);
}

.button {
    background-color: #F79928;
    color: white;
    height: 40px;
    width: 140px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    margin-top: 20px;
}

.button:hover {
    opacity: 0.8;
}

.svg-on-main {
    width: 56px;
    height: 56px;
    fill: rgb(2, 82, 204);
}

.advantag {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    max-width: 300px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.advantages-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.advantag-wrap {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.posibilities-wrapper {
    margin: 0 auto;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    margin-top: 40px;
    width: 100%;
}

.svg-main-page {
    fill: rgb(2, 82, 204);
    width: 56px;
    height: 56px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.small {
    width: 90px;
    margin: 40px 20px;
}

.new-color {
    background-color: rgb(2, 82, 204);
}

.img-saze-computer {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 450px;

}

.not-forget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin: 0 auto;
}

.person {
    display: flex;
    max-width: 670px;
    min-height: 240px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    border-radius: 8px;
}

.foto {
    width: 220px;
    height: 240px;
    background-color: antiquewhite;
}

.information {
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 450px;
}

.our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-logo {
    margin-top: 10px;
    width: 24px;
    height: 24px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    text-decoration: none;
    padding: 0 10px;
    color: black;
    font-weight: 600;
}

.footer-link:hover {
    color: rgb(2, 82, 204);
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-text {
    text-align: center;
}

.name-link {
    display: flex;
}

.align {
    justify-content: start;
    padding-left: 20px;
    transition: 1s;
}

.hide {
    display: none;
}

.wrapper-persons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-computer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.wrapper-yes-registration{
    display: flex;
}

.wrapper-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.wrapper-avatar{
    width: 40px;
    height: 40px;
    background-color: #BDBDBD;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    overflow:hidden;
}

.img-avatar{
    /* object-fit: contain; */
    height: 100%;
    width: 100%;
}

.svg-avatar {
    width: 28px;
    height: 28px;
    fill: white;
}

@media (max-width: 1000px) {

    .rs-lang-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .wrapper-man-and-lang {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .svg-man-wrapper {
        display: flex;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 40px;

    }

    @media (max-width: 840px) {
        .advantag-wrap {
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 660px) {
        .name-link {
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
        }

        .text {
            word-wrap: break-word;
        }

        .person {
            flex-direction: column;
        }

        .foto {
            margin: 0 auto;
        }
    }


}